name: CI

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        project: [bff, ui]

    defaults:
      run:
        working-directory: ${{ matrix.project }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run tests (com mochawesome)
        run: |
          echo "Rodando testes..."
          npx cypress run --reporter mochawesome --reporter-options reportDir=cypress/reports,overwrite=true,html=false,json=true

      - name: Upload Mochawesome artifact
        uses: actions/upload-artifact@v4
        with:
          name: mochawesome-report
          path: ${{ matrix.project }}/cypress/reports/*.json
